html					{
						font-family: 'Asap', Verdana, sans-serif;
						font-size:12px;
						line-height:1.5em;
						}
body					{
						margin:0;
						background: #D3D6B2;
						}
a, a:active, a:hover, a:visited
						{
						color:#BADB00;
						font-weight:bold;
						}
input					{
						padding:4px;
						}
.col					{
						width:300px;
						float:left;
						margin-left:8px;
						margin-top: 4px;
						}
.sitemapCol				{
						float:left;
						}
#hud .combobox_input	{
						width:300px;
						}
#hud .combobox_container
						{
						height:5em;
						}
#hud .combobox_container a, 
#hud .combobox_container a:active, 
#hud .combobox_container a:hover, 
#hud .combobox_container a:visited, 
.debugMsgText a, .debugMsgText a:active, .debugMsgText a:hover, .debugMsgText a:visited
						{
						color:#050505;
						}	
.valueishint			{
						color:#b0b0b0;
						}											
#hud ol					{
						list-style:none;
						padding-left:8px;
						margin:0;
						width:300px;
						z-index:9999;
						position:absolute;
						background:#D3D6B2;
						padding-bottom:0.5em;
						}
#icons					{
						bottom:8px;
						left:12px;
						position:absolute;
						}
#icons div.activeicon	{
						position:relative;
						top:-12px;;
						}
#icons div 				{
						float:left;
						width:54px;
						margin-right:18px;
						}
#icons div div			{
						width:54px;
						overflow:hidden;
						text-overflow:ellipsis;
						text-align:center;
						white-space: nowrap;
						}						
#tabs					{
						padding:8px;
						}
#tabs span				{
						margin-right:8px;
						}
#tabs span.activeTab		
						{
						display:none;
						}						
#gmap					{
						float:left;
						width:500px;
						height:300px;
						margin:4px;
						}
#sitemap				{
						display:none;
						position:absolute;
						bottom:0px;
						width:100%;
						height:150px;
						}
#langbar				{
						padding:4px;
						}
.diap					{
						color: #D3D6B2;
						background:#515240;
						}
div#tests				{
						float:left;
						width:100%;
						padding:4px;
						font-size:11px;
						}
.debugMsgHeader			{
						margin-top:20px;
						background:#050505;
						color:#D3D6B2;
						font-weight:bold;
						padding:4px;
						}	
.debugMsgText
						{
						padding:4px;
						}
.datePickerContainer	{
						padding-right:4px;
						}						
.datePickerBackground	{
						background:white;
						border:1px solid #808080;
						padding:4px;
						min-width:17.5em;
						}
.datePickerHeaderDay
						{
						float:left;
						background:#f7f7f7;
						font-weight:bold;
						}						
.datePickerSelector		{
						float:left;
						width:100%;
						padding-top:4px;
						padding-bottom:4px;
						text-align:center;
						border: 2px solid #D3D6B2;
						}												
div.datePickerSelector:nth-child(7)
						{
						text-align:right;
						}	
.datePickerDay			{
						width: 2em;
						float:left;
						text-align:center;
						border: 1px solid white;
						}
.datePickerDay:hover:not(.datePickerHeaderDay)
						{
						border: 1px solid red;
						cursor:pointer;
						}							
.datePickerDayBreak		{
						clear:left;
						float:left;
						border-right: 1px solid #808080;
						}
.datePickerSelectedDay	{
						border: 1px solid #BADB00;
						}	