/*

European place names and numberplates

*/

.copy					{
						display:inline-block;
						width:400px;
						}
.copy a,
.copy a:visited,
.copy a:active,
.copy a:link			{color:black;}

html					{
						font-family: 'Asap', Verdana, sans-serif;
						font-size:14px;
						line-height:1.5em;
						}
body					{
						margin:0;
						background: #D3D6B2;
						}
#main					{
						
						border-left: 1px solid white;
						border-top: 1px solid white;
						}
h1						{
						margin:8px 0 4px 16px;
						letter-spacing:0.08em;
						line-height:1.5em;
						font-family:"Times New Roman", Georgia;
						color:#515240;
						}						
div						{
						}
a, a:visited, a:active,
ul li a, ul li a:active, ul li a:visited,
#tablayout a,#tablayout a:active,#tablayout a:hover,#tablayout a:visited
						{
						color:black;
						font-weight:bold;
						}						
input	
						{
						width:180px;
						margin: 4px 4px;
						}
#setman input			{
						width:200px;
						}
#setman input[type=text]{
						}
input, input[type=codate]
						{
						padding:4px 8px;
						}						
input[type=codate]		{
						width:170px;
						}
select.country			{
						width:200px;
						padding:4px 8px;
						}
input[type=currency]	{
						}
input[type=submit]		{
						width:inherit;
						float:right;
						margin-right:20px;
						padding: 4px 10px 4px 10px;
						}
input[type=checkbox]	{
						margin:8px;
						}
.sitemapCol				{
						float:left;
						}
#hud .combobox_input	{
						}
#hud .combobox_container
						{
						float:left;
						}
#tablayout				{
						display:none;
						}
#tablayout div a		{margin:2px;}						
.tabLink				{
						margin:4px;
						display:block;
						}
#tabs a,
#tabs a:active,
#tabs a:visited,
#tabs a:link,
#footer a,
#footer a:link, 
#footer a:active, 
#footer a:hover, 
#footer a:visited, 						
#hud .combobox_container a, 
#hud .combobox_container a:link, 
#hud .combobox_container a:active, 
#hud .combobox_container a:hover, 
#hud .combobox_container a:visited, 
.debugMsgText a, .debugMsgText a:active, .debugMsgText a:hover, .debugMsgText a:visited
						{
						color:#050505;
						}	
						
.valueishint			{
						color:#b0b0b0;
						color:black;
						}
select					{
						padding:4px 8px 4px 2px;
						}
ul						{
						padding:15px;
						margin:0;
						}
#hud					{}																	
#hud ol					{
						border: 1px dotted black;		
						display:none;
						min-width:300px;
						list-style:none;
						padding-left:8px;
						margin:0;
						z-index:9999;
						position:absolute;
						padding-bottom:0.5em;
						background:white;
						}
#icons					{
						margin:8px 0 18px 0;
						}
#icons div.activeicon	{
						position:relative;
						top:-12px;;
						}
#icons div 				{
						float:left;
						width:54px;
						margin-right:18px;
						}
#icons div div			{
						width:54px;
						overflow:hidden;
						text-overflow:ellipsis;
						text-align:center;
						white-space: nowrap;
						}						
#tabs					{
						padding:8px 0 8px 0;
						}
.itemHeader span				{
						margin:0 8px 0 8px;
						}
div.activeTab	a		{
						color:#D3D6B2;
						}
#tabs span.activeTab		
						{
						display:none;
						}									
#gmap					{
						;
						height:280px;
						margin-bottom:10px;
						}
#sitemap				{
						display:none;					
						}
#sitemap ul				{
						list-style-type:none;
						padding-left:20px;
						}
#footer p				{
						margin:0;
						}
#langbar				{
						padding:4px;
						width:100%;				
						}
#langbar a				{
						margin: 0 4px 0 4px;			
						}
.diap, .itemHeader		{
						color: #D3D6B2;
						background:#515240;
						}
.pos					{
						color:#515240;
						background:#D3D6B2;
						}
div#tests				{
						float:left;
						width:100%;
						padding:4px;
						font-size:11px;
						}
.debugMsgHeader			{
						margin-top:20px;
						background:#050505;
						color:#D3D6B2;
						font-weight:bold;
						padding:4px;
						}	
.debugMsgText
						{
						padding:4px;
						}
.holiday				{
						color:#515240;
						background:#BADB00;
						}
input					{margin-top:3px;}							
.datePickerPlus, .datePickerMin
						{
						text-decoration:none;
						width:2em;
						height:2em;
						display:inline-block;
						background:white;
						vertical-align:top;
						text-align:center;
						margin:4px 0 0 0;
						}	
.white					{
						background:white;
						display:inline-block;
						}
						
/* Date picker style */																														
.datePickerPlus img, .datePickerMin	img
						{
						vertical-align:bottom;
						border:none;
						}					
.datePickerSelectedMonth
						{
						font-weight:bold;
						}
.datePickerSelectedMonth span
						{
						margin: 0 4px 0 4px;
						}			
.datePickerSelectedMonth span a,
.datePickerSelectedMonth span a:active,
.datePickerSelectedMonth span a:visited
						{
						color:#515240;
						}						
.datePickerRow			{
						width:220px;
						margin:0 auto;
						}			
.datePickerContainer	{
						padding-right:4px;
						text-align:center;
						}						
.datePickerBackground	{
						background:white;
						border:1px solid #808080;
						padding:4px;
						min-width:17.5em;
						}
.datePickerHeaderDay
						{
						float:left;
						background:#f7f7f7;
						font-weight:bold;
						}						
.datePickerSelector		{
						float:left;
						width:100%;
						padding-top:4px;
						padding-bottom:4px;
						text-align:center;
						border: 2px solid #D3D6B2;
						}												
div.datePickerSelector:nth-child(7)
						{
						text-align:right;
						}	
.datePickerDay			{
						width: 2em;
						float:left;
						text-align:center;
						border: 1px solid white;
						}							
.datePickerDayBreak		{
						clear:left;
						float:left;
						border-right: 1px solid #808080;
						}
.datePickerSelectedDay	{
						border: 1px solid #BADB00;
						}	
/* Button style */
.textButton				{
						cursor:pointer;
						display:inline-block;
						background:white;
						color:black;
						font-weight:bold;
						margin:8px;
						border-radius:4px;
						padding:4px 12px 4px 12px;
						vertcal-align:middle;
						-moz-box-shadow: -2px -2px 2px lime;
						-webkit-box-shadow: -2px -2px 2px lime;						
						}
						
						
.nsInfo					{
						font-family:Arial;
						border: 6px solid rgb(45,63,149);
						border-radius:8px;
						display:inline-block;
						background:white;
						padding:6px;
						color:rgb(45,63,149);
						}
.nsLeft, .nsRight		{
						padding:4px;
						float:left;
						}
.nsRight				{
						padding:20px 20px 40px 20px;
						background: rgb(45,63,149);
						}
.nsInfo span			{
						margin:4px;
						padding:2px;
						line-height:0.8em;
						}
.dest					{
						border-top: 1px solid gray;
						border-left: 1px solid gray;	
						font-weight:bold;
						font-size:110%;
						}
.by						{
						border-top: 1px solid gray;
						border-left: 1px solid gray;
						font-size:80%;
						}
.track					{
						display:inline;
						font-weight:bold;
						font-size:200%;
						padding:2px;
						color:rgb(45,63,149);
						background:white;
						}						
.red					{
						border-top: 1px solid gray;
						border-left: 1px solid gray;	
						color:red;
						font-size:80%;
						}
.white					{
						position:relative;
						left:4px;
						border:0;
						padding:0;
						margin-right:8px;
						font-size:80%;
						vertical-align:bottom;
						}
.trafficLight			{
						margin:4px;	
						background:black;
						display:inline-block;
						border-radius:4px;
						}						
.light					{
						margin:4px;	
						height:40px;
						width:40px;
						border-radius:20px;	
						display:inline-block;
						}
.lightGray				{
						background:#505050;						
						}						
.lightRed				{
						background:red;
						}
.lightOrange			{
						background:yellow;
						}					

.lightGreen				{
						background:lime;
						}							
/* Icon style */
.icon					{
						}

/* Button style */
.button					{
						margin-right:8px;
						cursor:pointer;
						}
.buttonActive			{
						border:1px solid white;
						}

.button span#book, 
.button span#weather	{
						float:right;
						color:white;
						position:relative;
						top:0px;
						eft:48px;
						background:black;
						opacity:0.8;
						padding:2px;
						}
/* Toolbar style */
.toolbar				{
						border-radius:4px;
						width:97%;
						padding:2px;
						}
#toolbar				{
						text-align:right;
						position:absolute;
						bottom:0px;
						left:0px;
						background:#515240;
						width:100%;
						height:55px;
						}

#toolbarDisplay			{
						/*border:1px solid #ff8800;*/
						/*font-size:8px;*/
						padding:4px;
						height:auto;
						width:auto;
						margin-bottom:55px;
						overflow:auto;
						margin-bottom:20px;
						}
#menu					{
						position:absolute;
						bottom:55px;
						width:100%;
						background:#515240;
						color:#D3D6B2;
						display:none;
						}
.menuContent			{
						width: 95%;
						padding:16px;
						margin:0 auto;
						}
.menuContentCross		{
						float:right;
						}
#toolbar div			{
						display:inline-block;
						}
#toolbar div img		{	
						cursor:pointer;
						}
/* Fixed splitter style*/						
#fixedSplitter			{
						width:100%;
						height:100%;
						}						
.fixedSplitterItemContainer
						{
						max-width:100%;
						margin:0 16px 0 16px;
						min-height:100%;
						overflow-y:auto;
						}
.fixedSplitterItemContainerOnly
						{
						background-color:#515240;												
						margin:0 16px 0 16px;
						height:100%;	
						min-height:100%;
						overflow:scroll;
						}					
.btnBack,
.fixedSplitterItemContainer a,
.fixedSplitterItemContainerOnly a:visited,
.fixedSplitterItemContainer a:active
						{
						color:#D3D6B2;
						}						
.fixedSplitterItemContainer img,
.fixedSplitterItemContainerOnly img
						{
						margin:4px;
						}						
.fixedSplitterListContainer
						{
						max-width:30%;
						min-width:300px;
						overflow-y:auto;
						overflow-x:hidden;
						width:100%;
						margin-right:32px;
						float:left;
						background:#515240;
						}
.fixedSplitterListContainerOnly
						{
						max-width:800px;						
						}
.fixedSplitterActiveListItem
						{
						background:#E3E6C2;				
						background: -webkit-gradient(linear, 48% top, 52% bottom, from(#E3E6C2), to(#D3D6B2));
						font-size:110%;	
						margin:0px 0 4px 0;
						padding:0.3em 0 0.3em 0;
						border-radius: 4px;
						border:1px solid orange;							}											
.fixedSplitterAnimation	{
						opacity:0;
						-webkit-transition: opacity 200ms ease-in;						
						}
.fixedSplitterListAnimation	{
						opacity:0;
						-webkit-transition: opacity 200ms ease-in;						
						}
.fixedSplitterListItem	{
						background:#E3E6C2;
						background: -webkit-gradient(linear, 48% top, 52% bottom, from(#E3E6C2), to(#C3C6A2));
						font-size:110%;
						margin:0px 0 4px 0;
						padding:0.3em 0 0.3em 0;
						border-radius: 4px;
						border:1px solid white;	
						}
.fixedSplitterListContainerOnly a,
.fixedSplitterListContainerOnly a:active, 
.fixedSplitterListContainerOnly a:hover, 
.fixedSplitterListContainerOnly a:visited,								
.fixedSplitterListContainer a,
.fixedSplitterListContainer a:active, 
.fixedSplitterListContainer a:hover, 
.fixedSplitterListContainer a:visited
						{
						color:#515240;
						font-weight:bold;
						}									
.fixedSplitterListIcon	{
						margin:0 4px 0 4px;
						vertical-align:middle;
						}						
.fixedSplitterListItemRight	
						{
						padding:10px 0 0px 0;
						font-weight:bold;
						float:right;
						margin:0 4px 0 4px;
						vertical-align:middle;
						color:#515240;
						}	
div.backBtnI 			{
						border-left-width: 11px;
						border-right-width: 5px;
						-webkit-border-image: url(backBtn.png) 0 5 0 11 repeat stretch;
						-moz-border-image: url(backBtn.png) 0 5 0 11 repeat stretch;
						font-family: Helvetica;
						font-weight: bold;
						font-size: 12px;
						color: rgb(255, 255, 255);
						text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
						text-align: center;
						text-overflow: ellipsis;
						white-space: nowrap;
						-webkit-dashboard-region: dashboard-region(control rectangle);
						right: auto;
						bottom: auto;
						margin-top: 0px;
						width: 65px;
						opacity: 1;
						letter-spacing:0.1em;					
						}
.btn a, .btn a:visited					{
						position:static;
						display:inline;
						font-family: Helvetica;
						font-weight: bold;
						font-size: 12px;	
						letter-spacing:0.1em;	
						color:white;				}
.btn		 			{
						display:inline-block;
						border-left-width: 5px;
						border-right-width:5px;
						border-right-width: 5px;
						-webkit-border-image: url(btn.png) 0 5 0 5 repeat stretch;	
						-moz-border-image: url(btn.png) 0 5 0 5 repeat stretch;

						color: rgb(255, 255, 255);
						text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
						text-align: center;
						text-overflow: ellipsis;
						white-space: nowrap;
						-webkit-dashboard-region: dashboard-region(control rectangle);
						right: auto;
						bottom: auto;
						margin: 2px;
						padding:4px 8px;
						height:30px;
						line-height:30px;
}								
.fixedSplitterListItemRight:before
						{
						content:'>';	
						}						
@media all and (max-width: 300px)
{
	.fixedSplitterListIcon	
						{
						display: none;
						}
}
@media all and (min-width: 280px)
{
	.container_12		{
						}
}
.fixedSplitterListContainer div
						{
						}

.button a				{color:black;}
canvas					{display:block;margin:40px auto;}